<div class="container">
    <div class="row">
        <div class="col"> 
            <br/> 
            <div ngbDropdown> 
              <button class="btn btn-primary" id="dog-breed-list" ngbDropdownToggle (click)='selectBreed("Akita")'>Breed List</button> 
              <div ngbDropdownMenu="dog-breed-list"> 
                <button ngbDropdownItem *ngFor="let dogBreed of dogBreeds">{{ dogBreed }}</button>
                <!-- <ul ngbDropdownItem>
                    <li *ngFor="let breed in dogBreedList">{{ breed }}</li>
                </ul> -->
              </div> 
            </div> 
          </div>          
    </div>
    <div class="row center-block">
        <div class="w-100 center-block">
            <img src=# dogImage alt="Beagle" class="center-block">
        </div>
        <h2 class="text-center">{{ currentBreed }}</h2>
    </div>
  </div>
    